<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>| Clubhouse </title>
  </head>
  <body>
  <h1>Club House</h1>
    <p>
      Welcome to the club house feel free to post all you want about our nonmembers while keeping your privacy.
    </p>
  </body>
</html>
